<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gexin.artplatform"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!-- FrontiaPush 和FrontiaStatistics 需要的权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>

    <application
        android:name=".application.UILApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/login"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".mine.MyQuestionActivity"
            android:label="我的追问"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".mine.MyFollowActivity"
            android:label="我的追问"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".mine.MySubscribeActivity"
            android:label="我的订阅"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".mine.MyCommentActivity"
            android:label="我的评论"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".mine.MyFansActivity"
            android:label="我的粉丝"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".mine.MyCollectActivity"
            android:label="我的收藏"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".mine.MyFocusActivity"
            android:label="我的关注"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".mine.StudentFriend"
            android:label="我的好友"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".mine.MyWorkActivity"
            android:label="我的作品"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".QuestionInfoActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".PostProblemActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".SelectTagActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".LargeImageActivity"
            android:label="@string/title_activity_large_image"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".CityInflateActivity"
            android:label="@string/title_activity_city_inflate"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".HomeItemInfoActivity"
            android:label="@string/title_activity_home_item_info"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".RoomDetailActivity"
            android:label="@string/title_activity_room_detail"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".SubClassActivity"
            android:label="@string/title_activity_sub_class"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".WeiboLoginActivity"
            android:label="@string/title_activity_user_info"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".FindFriendActivity"
            android:label="@string/title_activity_find_friend"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ModifyUserInfoActivity"
            android:label="@string/title_activity_modify_user_info"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".TeacherDetailActivity"
            android:label="@string/title_activity_teacher_detail"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".VideoDetailActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:label="@string/title_activity_video_detail"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ViewOtherUserActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <service android:name=".services.DownloadService" >
        </service>

        <activity
            android:name=".StudioEnvironmentActivity"
            android:label="@string/title_activity_studio_environment"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>